body
{
    background-image: url(./images/tile.jpg);
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255);
    font-size:11pt;
    background-repeat: repeat;
}

.frontpage-title
{
    margin-top:10px;
    margin-bottom:2px;
    text-align:center;

    font-size:22pt;
    color:rgb(0, 0, 0);
}

.frontpage-subtitle
{
    margin-bottom:10px;
    font-style:italic;
    text-align:center;

    font-size:11pt;
    color:rgb(255, 0, 0);
}

.page-title
{
    margin-top:10px;
    margin-bottom:2px;
    text-align:center;

    font-size:20pt;
    color:rgb(0, 0, 0);
}

.new
{
    color:rgb(255, 0, 0);
}

.name
{
    font-weight:bold;
    font-size:12pt;
}

.small-text
{
    font-size:8pt;
}

.page-subtitle
{
    margin-bottom:35px;
    font-style:italic;
    text-align:center;

    font-size:11pt;
    color:rgb(255, 0, 0);
}

.image
{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

.greek
{
    font-family:Times New Roman;
}

.english
{
    font-family:Times New Roman;
}

.question
{
    margin-top:10px;
    margin-left:10px;
    font-style:italic;
    text-align:justify;

    font-size:12pt;
    color:rgb(255, 0, 0);
}

.quote
{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:15px;
    font-style:italic;
    text-align:justify;
    font-size:12pt;
}

.heading
{
    margin-top:10px;
    margin-bottom:15px;
    text-align:justify;

    font-size:14pt;
    color:rgb(255, 0, 0);
}

.heading-black
{
    margin-top:10px;
    margin-bottom:15px;
    text-align:justify;

    font-size:11pt;
    font-weight:bold;
    color:rgb(0, 0, 0);
}

.subheading
{
    margin-top:10px;
    margin-bottom:15px;
    text-align:justify;

    font-size:11pt;
    color:rgb(0, 0, 0);
}

.answer
{
    margin-top:10px;
    margin-left:20px;
    font-style:normal;
    text-align:justify;

    font-size:12pt;
    color:rgb(0, 0, 0);
}

.recording
{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:0px;
    font-weight:normal;
    text-align:justify;
    font-size:12pt;
    color:rgb(0, 0, 0);
}

.item
{
    margin-top:10px;
    margin-left:20px;
    margin-bottom:20px;
}

.item-lessmargin
{
    margin-top:4px;
    margin-left:20px;
    margin-bottom:4px;
}

.item-nomargin
{
    margin-top:0px;
    margin-left:20px;
    margin-bottom:0px;
}

.text
{
    margin-top:10px;
    margin-left:20px;
    margin-bottom:20px;
    font-style:normal;
    text-align:justify;
    font-size:12pt;
    color:rgb(0, 0, 0);
}

dt
{
    font-weight:bold;
}

a 
{ 
   font-size:11pt; 
}

h1
{
   font-size:16pt;  
}

h2
{
   font-size:14pt;   
}

h3
{
   font-size:12pt;   
}
